In [1]:
import pandas as pd 
import csv 
import os 
import sys

In [23]:
file_name = input("What's name of the file you want to analyse? ")
bank_csv = os.path.join('raw_data',file_name)
bank_df = pd.read_csv(bank_csv) 
bank_df.head()

What's name of the file you want to analyse? budget_data_1.csv

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [24]:
bank_df.index.drop
bank_df.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [28]:
total_months = bank_df["Date"].count()
total_months

41

In [29]:
total_rev = bank_df["Revenue"].sum()
total_rev

18971412

In [30]:
bank_df["RollingChange"] = bank_df["Revenue"]- bank_df["Revenue"].shift(1)
bank_df.head()

     Date  Revenue  RollingChange
0  Oct-12  1154293            NaN
1  Nov-12   885773      -268520.0
2  Dec-12  -448704     -1334477.0
3  Jan-13   563679      1012383.0
4  Feb-13   555394        -8285.0

In [31]:
avg_monthly = bank_df["RollingChange"].mean()
avg_monthly

-6758.975

In [32]:
grt_inc = bank_df["RollingChange"].max() 
grt_inc

1837235.0

In [36]:
grt_date = bank_df.loc[bank_df["RollingChange"] == grt_inc]["Date"]
grt_date.head()

TypeError: 'NoneType' object is not iterable

In [12]:
print("check the date " + str(grt_date))

check the date 40    Feb-16
Name: Date, dtype: object