In [ ]:
import pandas as pd 
import csv 
import os 
import sys

In [2]:
file_name = input("What's name of the file you want to analyse? ")
bank_csv = os.path.join('raw_data',file_name)
bank_df = pd.read_csv(bank_csv) 
bank_df.head()

What's name of the file you want to analyse? budget_data_1.csv

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [3]:
total_months = bank_df["Date"].count()
total_months

41

In [4]:
total_rev = bank_df["Revenue"].sum()
total_rev

18971412

In [5]:
bank_df["Avg Monthly"] = bank_df["Revenue"]- bank_df["Revenue"].shift(1) 
bank_df.head()

     Date  Revenue  Avg Monthly
0  Oct-12  1154293          NaN
1  Nov-12   885773    -268520.0
2  Dec-12  -448704   -1334477.0
3  Jan-13   563679    1012383.0
4  Feb-13   555394      -8285.0

In [6]:
avg_monthly = bank_df["Avg Monthly"].mean()
avg_monthly

-6758.975

In [7]:
grt_inc = bank_df["Avg Monthly"].max() 
grt_inc

1837235.0

In [8]:
grt_dec = bank_df["Avg Monthly"].min() 
grt_dec

-1779747.0

In [9]:
max_date = bank_df.loc[bank_df["Avg Monthly"] == grt_inc, "Date"].values[0]
max_date

'Feb-16'

In [ ]:
min_date = bank_df.loc[bank_df["Avg Monthly"] == grt_dec, "Date"].values[0]
min_date

In [11]:
temp = sys.stdout
sys.stdout = open('Output.txt', 'w')

In [12]:
print("Total Months : " + str(total_months)) 
print("Total Revenue : " + str(total_rev))
print("Average Monthly Change : " + str(avg_monthly)) 
print("Greatest Increase in Revenue : " + str(max_date) + " (" + str(grt_inc) + ")") 
print("Greatest Decrease in Revenue : " + str(min_date) + " (" + str(grt_dec) + ")")

In [ ]:
sys.stdout.close()
sys.stdout = temp

In [ ]:
print("Total Months : " + str(total_months)) 
print("Total Revenue : " + str(total_rev))
print("Average Monthly Change : " + str(avg_monthly)) 
print("Greatest Increase in Revenue : " + str(max_date) + " (" + str(grt_inc) + ")") 
print("Greatest Decrease in Revenue : " + str(min_date) + " (" + str(grt_dec) + ")")