In [2]:
import pandas as pd
import csv
import os
import numpy as np
import sys

In [3]:
file_name = input("What's name of the file you want to analyse? ")

What's name of the file you want to analyse? budget_data_1.csv

In [4]:
bank_csv = os.path.join('raw_data',file_name)

In [5]:
bank_df = pd.read_csv(bank_csv)
bank_df.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [6]:
total_months = bank_df["Date"].count()

In [7]:
total_rev = bank_df["Revenue"].sum()

In [ ]:
rolling_change = bank_df["Revenue"]- bank_df["Revenue"].shift(1)  
rolling_change

In [9]:
rolling_df = pd.DataFrame(rolling_change)

In [10]:
avg_monthly = rolling_df["Revenue"].mean()

In [11]:
grt_inc = rolling_df["Revenue"].max()

In [12]:
grt_date = rolling_df.loc[rolling_df["Revenue"] == grt_inc]

In [13]:
index_dt = grt_date[grt_date['Revenue'] == grt_inc].index[0]

In [14]:
grt_dec = rolling_df["Revenue"].min()

In [15]:
dec_date = rolling_df.loc[rolling_df["Revenue"] == grt_dec]

In [16]:
index_dt2 = dec_date[dec_date['Revenue'] == grt_dec].index[0]

In [17]:
sys.stdout = open('Output.txt', 'w')

In [18]:
print("Total Months  : " + str(total_months))
print("Total Revenue : " + str(total_rev))
print("Average Monthly Change : " + str(avg_monthly))
print("Greatest Increase in Revenue : " + str(index_dt) + " (" + str(grt_inc) + ")")
print("Greatest Decrease in Revenue : " + str(index_dt2) + " (" + str(grt_dec) + ")")

In [ ]:
sys.stdout.close()